.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9fafb;
    padding: 2rem;
}

.formContainer {
    background: #ffffff;
    padding: 4rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.button {
    margin-top: 1.6rem;
    font-weight: bold;
}

.footerText {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* RESPONSIVO para telas menores */
@media (max-width: 600px) {
    .formContainer {
        padding: 2rem;
        border-radius: 8px;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1.4rem;
    }
}