@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.616);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(25, 118, 210, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(25, 118, 210, 0);
    }
}

.container {
    max-width: 1200px;
    margin: 2rem auto 3rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    min-width: 275px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}

.userName {
    font-weight: 600;
}

.userEmail {
    font-size: 1.3rem;
}

.numbersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.numbersAvailable {
    display: inline;
}

.numbersTotal {
    color: var(--text-secondary);
    display: inline;
    margin-left: 4px;
}

.usageChip {
    font-size: 1rem !important;
}

.progressBar {
    height: 8px;
    border-radius: 4px;
    margin-top: 8px;
}

.pacotesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.statusPlano {
    display: flex;
}

.pacoteCard {
    padding: 1rem;
    position: relative;
    transition: transform 0.3s;
}

.recomendado {
    border: 2px solid #1976D2;
    animation: pulse 2s infinite;
}

.recomendadoBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}