/* Media queries para telas maiores */
@media (min-width: 768px) {
    .footerContent {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .linksSection {
        flex-direction: column;
    }
}

/* Media queries para telas menores - ajuste dos links */
@media (max-width: 600px) {
    .paddingLeft {
        padding-left: 5rem;
    }

    .linksSection a {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}